<div>
    <h3 class="auth__title">OAuth2.0</h3>
    <p>{{{sanitize description}}}</p>
    {{#if authorizationUrl}}<p>Authorization URL: {{{sanitize authorizationUrl}}}</p>{{/if}}
    {{#if tokenUrl}}<p>Token URL: {{{sanitize tokenUrl}}}</p>{{/if}}
    <p>flow: {{{escape flow}}}</p>
    {{#if isPasswordFlow}}
        <p>Please input username and password for password flow authorization</p>
        <fieldset>
            <div><label>Username: <input class="oauth-username" type="text" name="username"></label></div>
            <div><label>Password: <input class="oauth-password" type="password" name="password"></label></div>
        </fieldset>
    {{/if}}
    {{#if clientAuthentication}}
        <p>Setup client authentication.{{#if requireClientAuthentication}}(Required){{/if}}</p>
        <fieldset>
            <select class="oauth-client-authentication-type" name="client-authentication-type" hidden>
                <option value="none">None or other</option>
                <option value="basic">Basic auth</option>
                <option value="request-body selected">Request body</option>
            </select>
            <div class="oauth-client-authentication">
                <div><label>Client Id: <input class="oauth-client-id" type="text" name="client-id"></label></div>
                <div><label>Client Secret: <input class="oauth-client-secret" type="text" name="client-secret"></label></div>
            </div>
        </fieldset>
    {{/if}}
    <p>This API accepts the following scopes. Select which ones you want to grant.</p>
    <ul class="api-popup-scopes">
        {{#each scopes}}
            <li>
                <input class="oauth-scope" type="checkbox" data-scope="{{{escape scope}}}" oauthtype="{{{escape OAuthSchemeKey}}}"/>
                <label>{{{escape scope}}}</label><br/>
                <span class="api-scope-desc">{{{escape description}}}
                    {{#if OAuthSchemeKey}}
                        ({{{escape OAuthSchemeKey}}})
                    {{/if}}
                </span>
            </li>
        {{/each}}
    </ul>
</div>
